# Source files
src/
__test__/
__fixtures__/

# Config files
tsconfig.json
tsconfig.build.json
jest.config.ts
eslint.config.mjs

# Development files
*.spec.ts
*.test.ts

# Build artifacts
coverage/
*.lcov
junit.xml
coverage-report.xml

# IDE
.idea/
.vscode/

# Git
.git/
.gitignore

# Documentation
CHANGELOG.md

# Other
node_modules/
.DS_Store
*.log
